/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 nov. 2022, 19:42:57
    Author     : a
*/

/*appliquer proprièté pour réseau sociaux*/
  #rs{
      text-align: center;
      position: relative;
      padding: 5px;
      line-height: normal;
  }
  .sociaux{
      margin: 5px;
      width: 30px;
      height: 30px;
      position: relative;
   }
  /* traitement de l'image'*/
  .colonne{
           position: relative;
           float: left;
           width: 30%;
           min-height: 200px;
           text-align: center;
           margin: 5px;
           padding: 5px;
       }
       .image{
           opacity: 1;
           display: block;
           width: 95%;
           height: 100px;
           transition: 0.5s ease;
           backface-visibility: hidden;
       }
       .middle{
           transition: 0.5s ease;
           opacity: 0;
           position: absolute;
           top: 30%;
           left: 50%;
           transform: translate(-50%,-50%);
       }
       .text{
           position: relative;
           background:#e6e8ff;
           color:#D19275;
           font-size: 16px;
           padding: 4px 8px;
           cursor: pointer;
          }
          /*dimunier l'oacity de l'image lorsque il yq le hover*/
          .colonne:hover .image{
              opacity: 0.2;
          }
           /*augmenter l'oacity de l'image lorsque il yq le hover*/
           .colonne:hover .middle{
               opacity: 2;
           }
           
           aside{
               
               margin-top: 30px;
           }
           
           h3{
               font-family: andalus;
               background: #000;
               font-size: 12px;
               color: #fff;
               text-align: center;
            }
            
            /*appliquer le hover visited et active sur le titre H2*/
            h2 a:hover{
                color:yellow;
            }
            
            h2 a:visited{
                color:green;
            }
            
            h2 a:active{
                color:red;
            }
            footer#bas{
                background:#2F2F4F;
                text-align:center;
                clear:left;
                margin-top:auto;
                color:#fff;
            }       
            
            #submit{
                width: 160px;
                height: 30px;
                font-family: verdana;
                font-weight:bolder;
                text-indent: 10px;
                /*background-image: url("fichiers 02/valider.png");*/
            }
            
            #img_valid{
                width:20px;
                height: 20px;
                margin-top: 20px;
            }
            #log{
                 width:190px;
                 height: 20px;
                 margin-top: 20px;
            }
            
