/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 nov. 2022, 19:53:22
    Author     : a
*/

/* applique des prprièté la classe titre entete */
.titre-entete{
    text-align: center;
    background-color: lightblue;
    position: relative;
    top: 50%;
    color:#0000FF;
    padding: 10px;
    animation: animer 6s infinite;
  }

  @keyframes animer{
      0%{
          background-color:#FFFF00;
          font-size:2px;
          color:#EAEAAE;
          letter-spacing:1px;
         word-spacing:1px;
      }
      20%{
         background-color:#5F9F9F;
          font-size:4px;
          color:#7FFF00; 
         letter-spacing:2px;
         word-spacing:2px;
      }
      40%{
          background-color:#007FFF;
          font-size:6px;
          color:#7FFF00;
         letter-spacing:3px;
          word-spacing:3px;
      }
      60%{
          background-color:#D9D919;
          font-size:8px;
          color:#EAADEA;
          letter-spacing:4px;
          word-spacing:4px;
      }
      80%{
          background-color:#7F00FF;
          font-size:10px;
          color:#00FF7F; 
          word-spacing:5px;
          letter-spacing:5px;
      }
      100%{
          background-color:#D9D919;
          font-size:12px;
          color:#D9D919;
          letter-spacing:6px;
          word-spacing:16px;
      }
  }
  
  