<HTML>
<HEAD>
<meta http-equiv="Content-Language" content="en-us">

<TITLE>Welcome to YourCompany website!</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1252">
<LINK href="css/styles.css" rel=stylesheet>
</HEAD>
<BODY BGCOLOR=#FFFFFF topmargin="0" leftmargin="0">
<center>
<TABLE WIDTH=790 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=13 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=72 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=57 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=80 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=58 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=7 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=12 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=50 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=10 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=105 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=9 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=95 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=18 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=80 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=124 HEIGHT=1></TD>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=15>
			<IMG SRC="images/Slice01.gif" WIDTH=790 HEIGHT=239></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=239></TD>
	</TR>
	<TR>
		<TD COLSPAN=6>
			<IMG SRC="images/Slice02.gif" WIDTH=287 HEIGHT=42></TD>
		<TD COLSPAN=3>
			<a href="#2">
			<IMG SRC="images/Slice03.gif" WIDTH=72 HEIGHT=42 onmouseover="this.src='images/Slice03_over.gif';" onmouseout="this.src='images/Slice03.gif';" border="0"></a></TD>
		<TD>
			<a href="#2">
			<IMG SRC="images/Slice04.gif" WIDTH=105 HEIGHT=42 onmouseover="this.src='images/Slice04_over.gif';" onmouseout="this.src='images/Slice04.gif';" border="0"></a></TD>
		<TD COLSPAN=2>
			<a href="#2">
			<IMG SRC="images/Slice05.gif" WIDTH=104 HEIGHT=42 onmouseover="this.src='images/Slice05_over.gif';" onmouseout="this.src='images/Slice05.gif';" border="0"></a></TD>
		<TD COLSPAN=2>
			<a href="#2">
			<IMG SRC="images/Slice06.gif" WIDTH=98 HEIGHT=42 onmouseover="this.src='images/Slice06_over.gif';" onmouseout="this.src='images/Slice06.gif';" border="0"></a></TD>
		<TD>
			<a href="#2">
			<IMG SRC="images/Slice07.gif" WIDTH=124 HEIGHT=42 onmouseover="this.src='images/Slice07_over.gif';" onmouseout="this.src='images/Slice07.gif';" border="0"></a></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=42></TD>
	</TR>
	<TR>
		<TD ROWSPAN=13>
			<IMG SRC="images/Slice08.gif" WIDTH=13 HEIGHT=536></TD>
		<TD COLSPAN=4 ROWSPAN=2>
			<IMG SRC="images/Slice09.gif" WIDTH=267 HEIGHT=88></TD>
		<TD COLSPAN=2 ROWSPAN=13>
			<IMG SRC="images/Slice10.gif" WIDTH=19 HEIGHT=536></TD>
		<TD COLSPAN=4 ROWSPAN=3>
			<IMG SRC="images/Slice11.gif" WIDTH=174 HEIGHT=175></TD>
		<TD COLSPAN=4>
			<IMG SRC="images/Slice12.gif" WIDTH=317 HEIGHT=84></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=84></TD>
	</TR>
	<TR>
		<TD COLSPAN=4 ROWSPAN=2 align="left" valign="bottom"><p class="text">
			After you have a firm set of requirements, 
            focus on design. This determines how you\'re going to satisfy 
            requirements with least cost. The design should fully describe what 
            components and configurations are necessary to satisfy the 
            requirements. <br>
            Through the design process, produce a design specification</TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=4></TD>
	</TR>
	<TR>
		<TD COLSPAN=4 ROWSPAN=4 align="left" valign="top">
			<p class="text">In a typical SSL installation, the server 
            maintains credentials so that clients can authenticate the server. 
            In addition to presenting a certificate at connection time, the 
            server also maintains a private key, which is necessary for 
            establishing that the server presenting a certificate is actually 
            presenting its own <a class="Links" href="#2">certificate</a>. Cryptographic-acceleration cards 
            will generally store the key in hardware, making it unavailable to 
            the actual computer.<br>
            In a typical SSL installation, the server 
            maintains credentials so that clients can authenticate the server. 
            In addition to presenting a certificate at connection time, the 
            server also maintains a private key, which is necessary for 
            establishing that the server presenting a certificate is actually 
            presenting its own certificate. Cryptographic-acceleration cards 
            will generally store the key in hardware, <a class="Links" href="#2">making it unavailable</a> to 
            the actual computer.</p></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=87></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 align="left" valign="top"><p class="text">
			&nbsp;that highlights the chosen design elements and provides a diagram 
            indicating the placement of access points within the facility. For 
            smaller networks, you may only spend a day or so designing the 
            solution. In larger implementations, it may take weeks or months to 
            fully define enough technical detail before moving forward with the 
            acquisition of hardware and installation services. These larger 
            projects will likely benefit from simulation, prototyping, or pilot 
            testing as part of the design to ensure you\'ve made the right 
            choices.</TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=93></TD>
	</TR>
	<TR>
		<TD COLSPAN=6>
			<IMG SRC="images/Slice16.gif" WIDTH=287 HEIGHT=59></TD>
		<TD COLSPAN=2 ROWSPAN=3>
			<IMG SRC="images/Slice17.gif" WIDTH=204 HEIGHT=145></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=59></TD>
	</TR>
	<TR>
		<TD COLSPAN=6 ROWSPAN=2 align="left" valign="top">
			<p class="text">After you have a firm set of requirements, 
            focus on design. This determines how you\'re going to satisfy 
            requirements with least cost. The design should fully describe what 
            components and configurations are necessary to satisfy the 
            requirements. <br>
            Through the design process, produce a design </TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=45></TD>
	</TR>
	<TR>
		<TD COLSPAN=4 ROWSPAN=2>
			<IMG SRC="images/Slice19.gif" WIDTH=267 HEIGHT=45></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=41></TD>
	</TR>
	<TR>
		<TD COLSPAN=8 ROWSPAN=5 align="left" valign="top"><p class="text">
			specification that highlights the chosen design elements and 
            provides a diagram indicating the placement of access points within 
            the facility. For smaller networks, you may only spend a day or so 
            designing the solution. In larger implementations, it may take weeks 
            or months to fully define enough technical detail before moving 
            forward with the acquisition of hardware and installation services. 
            These larger projects will likely benefit from simulation, 
            prototyping, or pilot testing as part of the design to ensure 
            you\'ve made the right choices and the requirements are fully 
            realizable.</TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=4></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/Slice21.gif" WIDTH=72 HEIGHT=26></TD>
		<TD COLSPAN=3 width="195" height="26">
			<input type="text" name="T1" size="20" class="loginForm"></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=26></TD>
	</TR>
	<form>
	<TR>
		<TD>
			<IMG SRC="images/Slice23.gif" WIDTH=72 HEIGHT=25></TD>
		<TD COLSPAN=3 width="195" height="25">
			<input type="password" name="T2" size="20" class="loginForm"></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=25></TD>
	</TR>
	<TR>
		<TD COLSPAN=2>
			<IMG SRC="images/Slice25.gif" WIDTH=129 HEIGHT=29></TD>
		<TD>
			<input border="0" src="images/Slice26.gif" name="I1" width="80" height="29" type="image"></TD>
		<TD>
			<IMG SRC="images/Slice27.gif" WIDTH=58 HEIGHT=29></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=29></TD>
	</TR>
	</form>
	<TR>
		<TD COLSPAN=4 ROWSPAN=2>
			<IMG SRC="images/Slice28.gif" WIDTH=267 HEIGHT=39></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=30></TD>
	</TR>
	<TR>
		<TD COLSPAN=8>
			<IMG SRC="images/Slice29.gif" WIDTH=491 HEIGHT=9></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=9></TD>
	</TR>
	<TR>
		<TD COLSPAN=8>
			<IMG SRC="images/Slice30.gif" WIDTH=349 HEIGHT=27></TD>
		<TD COLSPAN=7 align="center" valign="top">
			
            <a class="Links2" href="#2">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
             <a class="Links2" href="#3">Medicine</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
             <a class="Links2" href="#4">Utilities</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <a class="Links2" href="#5">Services</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <a class="Links2" href="#6">Contact Us</a>&nbsp;&nbsp;&nbsp;
            </TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=27></TD>
	</TR>
</TABLE>
</center>
</BODY>
</HTML>